.project {
  width: 100%;
  height: calc(80vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: column;

}
  
.project h1 {
    
  color: #3e497a;
  font-size: 35px;
  padding-bottom: 30px;
}
.project img {
  vertical-align: auto;
  width: 300px;
  padding-bottom: 50px;

}
  
.project p {
  font-size: 30px;
  color: #3e497a;
}
  
.project svg {
  font-size: 60px;
    color: #3e497a;
}

  .project ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 15px;
}

.project ul li {
  font-size: 1rem;
  padding-bottom: 8px;
  color: #333;
}